<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato" rel="stylesheet">/</link>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  </head>
  <body>
    <div id="BannerDiv">
      <p><h2>Media Matters Catalog</h2></p>
    </div>
  </body>
</html>

<% if @matters.blank? %>
  <h4>There are no items containing the term <%= params[:search] %>.</h4>
<% end %>

<p id="notice"><%= notice %></p>

<%= puts "Putting matters: #{@matters}" %>

<h1>Listing Matters</h1>

<table>
  <thead>
    <tr>
      <th>NameOrType</th>
      <th>Location</th>
      <th>AcquiredDate</th>
      <th>Value</th>
      <th>LoanedTo</th>
      <th>LoanedDate</th>
      <th>Description</th>
      <th>Notes</th>
      <th>UPCBarcode</th>
      <th>Title</th>
      <th>ReleasedDate</th>
      <th>Format</th>
      <th>ArtistOrBand</th>
      <th>TrackList</th>
      <th>Amateur</th>
      <th>Lineage</th>
      <th colspan="4"></th>
    </tr>
  </thead>


  <tbody>
    <% unless @matters.blank? then @matters.each do |matter| %>
      <tr>
        <td><%= matter.name_or_type.truncate(50) %></td>
        <td><%= matter.location.truncate(50) %></td>
        <td><%= matter.acquired_date %></td>
        <td><%= matter.value %></td>
        <td><%= matter.loaned_to.truncate(50) %></td>
        <td><%= matter.loaned_date %></td>
        <td><%= matter.description.truncate(50) %></td>
        <td><%= matter.notes.truncate(50) %></td>
        <td><%= matter.upc_barcode %></td>
        <td><%= matter.title.truncate(50) %></td>
        <td><%= matter.released_date %></td>
        <td><%= matter.format.truncate(50) %></td>
        <td><%= matter.artist_or_band.truncate(50) %></td>
        <td><%= matter.track_list.truncate(50) %></td>
        <td><%= matter.amateur %></td>
        <td><%= matter.lineage.truncate(50) %></td>
        <td><%= link_to 'Find', matters_find_path %></td>
        <td><%= link_to 'Show', matter %></td>
        <td><%= link_to 'Edit', edit_matter_path(matter) %></td>
        <td><%= link_to 'Destroy', matter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Matter?', new_matter_path %> 