<p id="notice"><%= notice %></p>

<p>
  <strong>Name or type:</strong>
  <%= @matter.name_or_type.truncate(200) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @matter.location.truncate(200) %>
</p>

<p>
  <strong>Acquired date:</strong>
  <%= @matter.acquired_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @matter.value %>
</p>

<p>
  <strong>Loaned to:</strong>
  <%= @matter.loaned_to.truncate(200) %>
</p>

<p>
  <strong>Loaned date:</strong>
  <%= @matter.loaned_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @matter.description.truncate(200) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @matter.notes.truncate(200) %>
</p>

<p>
  <strong>Upc barcode:</strong>
  <%= @matter.upc_barcode %>
</p>

<p>
  <strong>Title:</strong>
  <%= @matter.title.truncate(200) %>
</p>

<p>
  <strong>Released date:</strong>
  <%= @matter.released_date %>
</p>

<p>
  <strong>Format:</strong>
  <%= @matter.format.truncate(200) %>
</p>

<p>
  <strong>Artist or band:</strong>
  <%= @matter.artist_or_band.truncate(200) %>
</p>

<p>
  <strong>Track list:</strong>
  <%= @matter.track_list.truncate(200) %>
</p>

<p>
  <strong>Amateur:</strong>
  <%= @matter.amateur %>
</p>

<p>
  <strong>Lineage:</strong>
  <%= @matter.lineage.truncate(200) %>
</p>

<%= link_to 'Edit', edit_matter_path(@matter) %> |
<%= link_to 'Back', matters_path %>
