<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%#=# yield %>
<h1 class="title">
  <%= link_to "Media Matters Catalog", controller: 'matters' %>
</h1>

<%= form_tag(matters_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Matters" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<div id="content">
  <%= content_for?(:content) ? yield(:content) : yield %>
</div>
<div id="main">
  <% if flash[:notice] %>
    <div class="message" id="notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:warning] %>
    <div class="message" id="warning">
      <%= flash[:warning] %>
    </div>
  <% end %>
</div>

</body>
</html>

